# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode user data
xcuserdata/

# Swift Package Manager
.build/
Packages/

# macOS
.DS_Store

# CocoaPods
Pods/

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Temporary files
*.tmp
*.temp